@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  box-sizing : border-box;
  font-family: 'Nunito', sans-serif;
}

header {
  background-color : rgb(239, 14, 61);
}

.header-row1 {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  padding : 1.6%;
}

.header-row1 img {
  height : auto;
  width : 100%;
  max-width : 700px;
}

.black-strip {
  height : 20px;
  background-color : rgb(56, 56, 56);
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.pokeball-outer1 {
  outline : 6px solid rgb(56, 56, 56);
  width : 50px;
  height : 50px;
  background-color : white;
  border-radius : 50%;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}

.pokeball-inner1 {
  outline : 4px solid rgb(56, 56, 56);
  width : 30px;
  height : 30px;
  border-radius : 50%;
}

.container {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  padding : 2.5% 0 2.5% 0;
}

.cScore, .bScore {
  font-size : 1.2rem;
  font-weight : 600;
  color : rgb(56, 56, 56);
  width : 10%;
  text-align : center;
  min-width : 225px;
  border-radius : 20px;
  padding : 8px 0 8px 0;
  margin : 0 3% 0 3%;
  box-shadow : 1px 3px 18px 1px rgba(0, 0, 0, 0.438);
}

@media(max-width : 768px){
  .container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding : 2% 0 2% 0;
  }

  .cScore, .bScore {
    margin : 20px 0 20px 0;
  }
}

.cScore {
  background-color : rgb(255, 181, 181);
}

.bScore {
  background-color : rgb(181, 255, 181);
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12 {
  outline : 1px solid blue;
  min-height : 180px;
  min-width : 160px;
  border-radius : 20px;
  box-shadow : rgb(0 0 0 / 35%) 0px 5px 15px;
  background-color : rgb(238, 238, 238);
  cursor : pointer;
  margin : 0 15px 0 15px;
}

.row1, .row2, .row3 {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
  padding-bottom : 30px;
  flex-wrap: wrap;
}

@media(max-width : 766px) {
  .card4, .card8, .card12 {
    margin-top : 30px;
  }
}

@media(max-width : 570px) {
  .card4, .card8, .card12 {
    margin-top : 0;
  }

  .card3, .card4, .card7, .card8, .card11, .card12 {
    margin-top : 30px;
  }
}